.eight {
  height: 100%;
}

.text {
  /* background-color: #15301B; */
  /* background-color:#6a5252; */
  background: #15301b;
  height: 100%;
}

.quote1 {
  position: absolute;
  left: 6.61%;
  right: 90.26%;
}

.quote2 {
  /* position: absolute;
  left: 40%;
  margin-top: -50px; */
    position: absolute;
    left: 40%; 
    right: 0;
}


.quote_root_div{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width:425px) {
  .quote_div{
    width: 100%;
  }
}

@media only screen and (max-width:768px) {
  .testiomonials{
    font-size: 14px;
  }
  .quote1{
    width: 7%;
    margin-top: 7%;
  }
  .quote2 {
    width: 7%;
    margin-left: 38%;
    right: 0;    
  }
  h2.iam-text {
    font-size: 19px;
    line-height: 26px;
  }
}

@media only screen and (max-width:425px) {
h2.iam-text {
  font-size: 20px !important;
    line-height: 20px !important;
  }
  .heading{
    position: relative;
    margin-top: 20px;
    color: #15301b;
    font-size: 30px;
  }
}

h2.iam-text {
  color: #fff;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  padding-top: 20px;
}
h3 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.iam-man {
  width: 100%;
}
.Ellipse-section {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  padding-right: 20px;
  justify-content: center;
}
.ellips1 {
  padding-right: 14px;
  padding-left: 8px;
}
@media  (min-width:768px) and  (max-width:800px){
  .quote{
    position: relative;
    top: 30px;
  }
   .text{
       width: 100%;
       height: 100%;
   } 
   h2 {
     color: #fff;
     font-family: "Helvetica";
     font-style: normal;
     font-weight: 400;
     font-size: 24px;
     line-height: 25px;
     text-align: center;
     letter-spacing: 0.02em;
   }
   h3 {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  .quote1{
      height: 20px;
  }
  .quote2{
    height: 20px;
    
}
.iam-man {
    width: 100%;
    height: 500px;
  }
  .ellips1 {
      margin-bottom: 10px;
    padding-right: 14px;
    padding-left: 8px;
    height: 18px;
  }

}

@media  (min-width:1024px) and  (max-width:1124px){
    .text{
        width: 100%;
        height: 100%;
    } 
    h2 {
        color: #fff;
        font-family: "Helvetica";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0.02em;
      }
      h3 {
       font-family: "Helvetica";
       font-style: normal;
       font-weight: 400;
       font-size: 16px;
       line-height: 24px;
       text-align: center;
       letter-spacing: 0.02em;
       color: #ffffff;
     }
     .quote1{
        height: 20px;
    }
    .quote2{
      height: 20px;
  }
  /* .iam-img {
    width: 100%;
    height: 500px;
  } */
 }




 .slide-text-div{
   margin-bottom: 40px;
 }