.eight {
  height: 100%;
}

.text {
  /* background-color: #15301B; */
  /* background-color:#6a5252; */
  background: #15301b;
  height: 100%;
}

.quote1 {
  position: absolute;
  left: 6.61%;
  right: 90.26%;
}

/* .quote2 {
  position: absolute;
  left: 40%;
  margin-top: -50px;
} */

/* h2 {
  color: #fff;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
} */
h3 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.friends-img {
  width: 100%;
 
}



.Ellipse-section {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  padding-right: 20px;
  justify-content: center;
  margin-bottom: 20px;

}

@media only screen and (max-width:768px) {
  .friends-img {
    width: 100%;
    height: 100%;
  }
  .submit{
    font-size: 20px;
    line-height: 30px;
  }
}
.ellips1 {
  padding-right: 14px;
  padding-left: 8px;
}
@media (min-width: 768px) and (max-width: 800px) {
  .text {
    width: 100%;
    height: 100%;
  }
  h2 {
    color: #fff;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.02em;
  }
  h3 {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  .quote1 {
    height: 20px;
  }
  .quote2 {
    height: 20px;
    left: 0;
  }
  .friends-img {
    width: 100%;
    height: 100%;
  }
  .ellips1 {
    margin-bottom: 10px;
    padding-right: 14px;
    padding-left: 8px;
    height: 18px;
  }
  
}


.err-msg{
  color: red;
}


@media (min-width: 1024px) and (max-width: 1124px) {
  .text {
    width: 100%;
    height: 100%;
  }
  h2 {
    color: #fff;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.02em;
  }
  h3 {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  .quote1 {
    height: 20px;
  }
  .quote2 {
    height: 20px;
  }
  .iam-img {
    width: 100%;
    height: 100%;
  }
}
.heading {
  position: relative;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  margin-top: 20px;
  color: #15301b;
  /* margin-left: 75px; */
}
.first-name {
  color: #15301b;
  /* padding-top: 150px; */
}

.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f8f9fd;
}

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #15301b;

  border: 1px solid #15301b;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #15301b;
}

/* .button-container {
  display: flex;
  justify-content: left;
  margin-left: 70px;
} */

.form{
  margin: 10px;
 }

.login-form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}
.getstarted{
  margin: auto;
}
.form-getstarted{
  text-align: -webkit-center;
 
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  width: 75%;
  /* margin: 45px; */
}
.label {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  letter-spacing: 0.02em;
  margin-top: 15px;
  color: #15301b;
}

.email {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  text-align: left;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0.02em;

  color: #15301b;
}
.phonenumber {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  text-align: left;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0.02em;

  color: #15301b;
}
.website {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-align: left;
  line-height: 34px;
  letter-spacing: 0.02em;

  color: #15301b;
}
.submit {
  height: 50px;
  margin-top: 13%;
  width: 165px;
  font-family: "Helvetica";
  font-size: 22px;
  color: #ffffff;
  background: #15301b;
  border-radius: 20px;
}
.input-size1{
    height: 40px;
    border: 3px solid #15301B
}

@media (min-width: 768px) and (max-width: 1124px) {
   
    .input-container{
        /* width: 50%; */
          display: flex;
          flex-direction: column;
    }
    .first-name{
        font-size: 15px;

    }
    .email{
        font-size: 15px;
    }
    .phonenumber{
        font-size: 15px;
    }
    .website{
        font-size: 15px;
    }
    
    .submit{
        font-size: 20px;
        width: 150px;
        height: 50px;
    }
   }
   
@media (min-width: 320px) and (max-width: 424px) {
    .submit{
      font-size: 20px;
      line-height: 30px;
    }
    .input-container{
        /* width: 50%; */
    }
    .first-name{
        font-size: 15px;

    }
    .email{
        font-size: 15px;
    }
    .phonenumber{
        font-size: 15px;
    }
    .website{
        font-size: 15px;
    }
    
    .submit{
        font-size: 20px;
        width: 150px;
        height: 50px;
    }
   }